<ion-header [translucent]="true">
  <ion-toolbar bg color="danger">
    <ion-title>
      MENU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;"><font color="red"><b>APLIKASI TOP UP GAME</b></font></h1>
  <p style="text-align: center;">Aplikasi top up game mobile yang lebih mudah dan praktis.</p>
  
  <div>
    <img src="assets/icon/game.jpeg" width="500px" margin="50px" style="display: block; margin-left: auto; margin-right: auto;">  
  </div>
</ion-content>
