<ion-header [translucent]="true">
  <ion-toolbar bg color="danger">
    <ion-title>ABOUT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Aplikasi ini adalah aplikasi yang bisa digunakan untuk transaksi top up game. Dengan menggunakan aplikasi ini top up game akan lebih mudah, praktis, dan lebih hemat.</p>
  <p>Aplikasi mobile ini juga sangat mudah dipahami, aplikasi ini menyediakan pengalaman top up game berbasis mobile dan pastinya data Anda lebih aman.</p>

  <section>
    <h3>App Version</h3>
    <p>Version 1.0 (Released on: January 31, 2024)</p>
  </section>

  <section>
    <h3>Contact Support</h3>
    <p>Developer by: Rio Gunawan</p>
    <p>Email: <a href="gunawanrio3374@gmail.com">gunawanrio3374&commat.com</a></p>
    <p>No.HP : 085361048321</p>
  </section>

</ion-content>
